.app {
  display: flex;
}

.app-main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.app-body {
  display: flex;
  flex-grow: 1;
}

.app-inner {
  display: flex;
  flex-grow: 1;
  flex-basis: 0px;
  flex-direction: row;
  width: 100vh;

  background-color: white;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 20px;
}
