textarea {
  resize: none;
}
.MuiButtonBase-root {
  color: #454847 !important;
}
.draft {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  right: 40px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.24);
  background-color: white;
  max-width: 600px;
  max-height: 600px;
  /* ! this to property help scale the component resposively*/
  width: 40%;
  height: 60%;
}

.draft-header {
  background-color: #f2f6fb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px 10px 10px 20px;
}
.draft-header > h3 {
  font-size: 14px;
  font-weight: 400;
}
.draft-header-right .icon-button {
  zoom: 80%;
}
.draft-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0 20px 10px 20px;
}
.draft-form > hr {
  border-top: 1px solid #00000031;
}
.draft-form > input {
  border: none;
  /* ! remove the outline when selected */
  outline: none;
  height: 30px;
}
/* .draft-form > input:invalid {
  border: 1px solid red;
} */
.draft-form > textarea {
  flex-grow: 1;
  padding-top: 10px;
  outline: none;
  border: none;
}

.draft-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow-x: scroll;
}
.draft-bottom-send {
  background-color: #0858d0 !important;
  text-transform: capitalize !important;
  border-radius: 20px !important;
  color: white !important;
  width: 80px !important;
  margin: 0 10px 0 10px !important;
  box-shadow: none !important;
}
