.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* self-define */
  margin: 10px;
}

.header-left {
  display: flex;
  flex-basis: 230px;
  align-items: center;
}

.header-left > img {
  object-fit: contain;
  height: 40px;
  margin-left: 5px;
}

.header-right {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.header-search {
  display: flex;
  flex-grow: 1;
  align-items: center;
  background-color: #e9f1fb;
  padding: 10px;
  border-radius: 5px;
  /* self-define */
  height: 30px;
  max-width: 700px;
}

.header-search-icon {
  color: #444746;
}
.header-search > input {
  border: none;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: medium;
  background-color: transparent;
}
.header-search-tune {
  color: #444746;
}

.header-settings {
  display: flex;
  padding-right: 10px;
  align-items: center;
}
/* .header-settings-icon { */
/* } */

.header-settings-avatar {
  scale: 85%;
  margin-left: 5px;
}

.header-status-button {
  text-transform: capitalize !important;
  padding: 15px !important;
  border-radius: 20px !important;
  border: 1px solid #e0e3e7 !important;
  color: #484b4f !important;
  background-color: transparent !important;
  font-weight: 500 !important;
  height: 40px;
  width: 100px;
  margin-right: 10px !important;
}
