.maillist {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.maillist-settings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

/* .maillist-settings-left {
}

.maillist-settings-right {
} */

.maillist-sections {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 9px;
  margin-right: 10px;
  border-bottom: 1px solid #eceff1;
  margin-bottom: 5px;
}

.maillist-rows {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: calc(100vh - 205px);
  /* ! 100% - 205px is different from 100vh - 205px */
}
